<div class="container">
  <h1>Stupide Coaching</h1>
  <div class="box">
    <div class="grey"></div>
    <div class="ask">
      <p><%= params['question'] %></p>
      <p><em>- You</em></p>
    </div>
  </div>
  <div class="box">
    <div class="grey"></div>
    <div class="answer">
      <p class="bold"><%= @answer %></p>
      <p><em>- Your coach</em></p>
    </div>
  </div>
  <div class="link">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
